@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --fundo : #00030C;
    --cinza : #C0C0C0;
    --branco : #fff;
    --azul : #167BF7;
    --branco-claro: #F9F9F9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter';
}
